.feature-container{
   padding: 50px 0 50px 0;
}
 #featured-on-homepage-1 {
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }
@media (max-width:768px){
    #featured-on-homepage-1 {
            display: none;
            
    }
    .feature-container{
            padding: 0;
    }
}


    .feature-container-hide{
        @media (max-width : 768px){

            
        #feature-on-homepage-small{
            flex-direction: column; 
            padding-left: 30px;
            display: flex;
        }
            
        .feature,
        .shoes,
        .clothing,
        .kids {
            width: 100%;
        }
        .feature,
        .shoes,
        .clothing,
        .kids {
            margin-bottom: 20px;
        }
        .collapsible {
            color:black;
            cursor: pointer;
            padding-right: 0%;
            width: 95%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
                
        }
        
        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            font-size: 16px;
            font-weight: lighter;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px 0px 10px 0px;
        }      
    }
}

.featured-on-homepage li{
        list-style-type: none;
        margin-left: -31px;
        color: grey;
        padding-top: 5px;
}
    
    
.featured-on-homepage li:hover{
        color: black;
 }
.collapsible{
    padding: 0px;
}
   
    

    
#feature-on-homepage-small{
        display: none;
        justify-content: space-evenly;
        overflow: hidden;
    }
    
    
    
.footer-container {
        background-color:black;
        color: #f6f6f6;
        padding-top: 20px;
        .footer-list {
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
        flex-wrap: wrap;
    }
.col{
        width: 50%;
        margin-bottom: 0;
    }
    
.footer-list li {
        list-style-type: none;
        margin: 5px;
    }
    
.very-bot-of-footer{
        display: flex;
    }
#all-right-reserved{
        font-size: 12px;
    }
    .footer-info-list,
    .footer-info-help-list-head,
    .footer-info-company-list-head,
    .footer-info-promotion-list-head,
    .footer-info-help-list,
    .footer-info-company-list,
    .footer-info-promotion-list,
    .very-bot-of-footer-guide-list,
    .very-bot-of-footer-guide-list-1 {
        color: #f6f6f6;
        text-decoration: none;
        font-size: 14px;
    }
    
    .footer-info-help-list,
    .very-bot-of-footer-guide-list,
    .very-bot-of-footer-guide-list-1,
    #all-right-reserved {
        color: gray;
    }
    
    .footer-info-help-list:hover,
    .footer-info-company-list:hover,
    .footer-info-promotion-list:hover,
    .very-bot-of-footer-guide-list:hover,
    .very-bot-of-footer-guide-list-1:hover {
        color: white;
    }
    
    .social-media-logo {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        padding-left: 30px;
    }
    
    .social-media-logo img {
        height: 25px;
        border-radius: 50%;
        background-color: gray;
    }
    
    .social-media-logo img:hover {
        background-color: white;
    }
    
    .very-bot-of-footer-guide {
        display: flex;
        justify-content:right;
        gap: 10px;
        margin-top: 50px;
        list-style-type: none;
        flex-wrap: wrap;
        text-align: right;
        padding-left: 40%;
    }
    #location-and-usa {
        margin-top: 100px;
        padding-left: 30px;
        list-style-type: none ;
        display: flex;
        gap: 5px;
    }
    #USA {
        color: #f6f6f6;
        font-size: 12px;
    }
    .collapsible{
        color: white;
        font-size: 12px;
    }
    @media (min-width:769px) {
        .footer-list,
    .very-bot-of-footer {

        transition: margin 0.2s ease;
        
    }
}

@media (max-width: 768px) {
    .footer-list,
    .very-bot-of-footer-guide ,
    .very-bot-of-footer{
        flex-direction: column;
        text-align: left;
        transition: margin 0.2s ease;
            
        }

        .very-bot-of-footer-guide{
            padding-left: 19%;
            margin-top: 20px;
        }
        .footer-list,
        .very-bot-of-footer,
        .footer-bottom,
        .col,
        #all-right-reserved{
            margin-left: -5px;
        }
        .footer-list {
            gap: 20px;
        }
    
        .social-media-logo img {
            height: 20px;
        }
        .social-media-logo{
            margin-left: 0;
        }
        #location-and-usa {
            margin-top: 10px;
            margin-left:10px ;
            flex-direction: column;
        }
        .footer-info{
            border-bottom: grey solid 0.5px;
            overflow: hidden;
        }
        .footer-info li{
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: Nike TG, Helvetica Neue, Helvetica, Arial, sans-serif;;
        }
          .collapsible {
        color:white;
        cursor: pointer;
        padding-right: 0%;
        width: 95%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 13px;
        
      }

      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        font-size: 16px;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 0;
        padding-top: 5px;
      }
      .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: 300;
        float: right;
        margin-left: 5px;
      }
    }
    .active:after {
        content: "\2212";
        transform: rotate(180deg);
      }
}