/* start top navigation bar section */


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;

    
}

/* top nav bar background */
.whitesmoke{
    background-color: whitesmoke;
}
/* marign on left nav bar  logo */
.nav-bar-left {
    display: flex;
    padding: 5px;
}
/* left nav bar hover on logo */
.nav-bar-left:hover{
    color: lightgrey;
}
/* left nav bar logo margin */
.jumper img {
    margin-right: 20px;
}


/* right nav bar */
.nav-bar-right{
    padding-top: 10px;
    font-size: 12px;
    font-weight: 500;
}
/* diplay the right nav bar flex */
.nav-bar-inner{
    display: flex;
}

/* remove dot from list in nav bar aright */
.nav-bar-inner li{
    list-style-type: none;
}
/* add textdecoration to the right nav bar  */
.nav-bar-inner a{
    color: black;
    text-decoration: none;
    padding: 5px;
}
/* right nav bar hover effect */
.nav-bar-inner a:hover{
    color: grey;
}

/* end of navigation bar  */

/* ======================================================== */




/* start second navigation bar  */


.second-nav-bar{
    height:60px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: white;    
    /* justify-content:space-evenly; */
    /* gap: 10%; */
    justify-content: space-between;
    padding: 0 12% 0 12%;
}
/* move middle nav bar to the middle  */
.center-nav-bar-feature{
    padding-left: 15%;
}

/* nike logo padding top for  */
.left-nav-bar-nike-logo{
    padding-top: 15px;
}
/* positioning the center nav bar */
.center-nav-bar {
    display: flex;
    padding-top: 20px;
    padding-bottom:10px ;
    align-items: center;
    justify-content: center;
}
/* clear list style to none in center nav bar */
.center-nav-bar li{
    list-style-type: none;
} 
/*  remove underline under the text */
.center-nav-bar a{ 
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}

/* search bar and icon */
.right-nav-bar-icon-and-searchbar {
    padding: 15px;
    display: flex;
}
/* heart icon and shop bag icon */
.nav-icon{
    border-radius: 50%;
}
.nav-icon:hover{
    background-color: lightgray;
}





/* Searchbar Section */



.searchbar{
    display: flex;
    margin-top : -5px ;
    border-radius: 28px;
    align-items: center;
    background: #f6f6f6;
    max-width: max-content;
    /* padding: 20px 15px 20px 15px; */
}

.search-input {
    border: none;
    width: 140px;
    /* outline: none;/ */
    background: transparent;
}


button{

    border: none;
    font-size: 18px;
    cursor: pointer;
    background: none;
    border-radius: 50%;
}

.icon {
    padding-left:10px ;

}
/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


                                                                    /* hover collapse */
.nav-hover-content,
.nav-hover-content-men,
.nav-hover-content-women,
.nav-hover-content-kids,
.nav-hover-content-accessories,
.nav-hover-content-sale {
    margin-top: 8px;
    padding-top: 50px;
    position: absolute;
    height: fit-content;
    z-index: 999;
    background-color: white;
    width: 100%;
    left: 0;
    display: flex;
    display: none;
    justify-content: center;
    gap: 4rem;
    transition: top 0.1s ease;
}

/* Common styles for active hover contents */
.nav-hover-content.active,
.nav-hover-content-men.active,
.nav-hover-content-women.active,
.nav-hover-content-kids.active,
.nav-hover-content-accessories.active,
.nav-hover-content-sale.active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition-delay: 0;
}

/* Common styles for sub-content lists */
.nav-hover-sub-content-list,
.nav-hover-sub-content-men-list,
.nav-hover-sub-content-women-list,
.nav-hover-sub-content-kids-list,
.nav-hover-sub-content-accessories-list,
.nav-hover-sub-content-sale-list {
    padding: 0;
    margin-left: -10px;
    color: gray;
    font-size: 13px;
    padding-top: 2px;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    cursor: pointer;
}

/* Common styles for hovered list items */
.nav-hover-sub-content-list li,
.nav-hover-sub-content-men-list li,
.nav-hover-sub-content-women-list li,
.nav-hover-sub-content-kids-list li,
.nav-hover-sub-content-accessories-list li,
.nav-hover-sub-content-sale-list li {
    padding-top: 10px;
}

/* Hover effect for list items */
.nav-hover-sub-content-list li:hover,
.nav-hover-sub-content-men-list li:hover,
.nav-hover-sub-content-women-list li:hover,
.nav-hover-sub-content-kids-list li:hover,
.nav-hover-sub-content-accessories-list li:hover,
.nav-hover-sub-content-sale-list li:hover {
    color: black;
}

/* Hover effect for main menu items */
#featured-hover:hover,
#men-hover:hover,
#hideOnMobilewomen:hover,
#hideOnMobilekids:hover,
#hideOnMobileAccessories:hover,
#hideOnMobileSale:hover {
    border-bottom: 3px solid black;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}




/* side bar */
@media (max-width:900px){
    .side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    z-index: 999;
    background-color:white;
    box-shadow: 100px 0 100px  rgba(0, 0,0, 0.1);
    display: none;
    flex-direction: column;
    
}
.left-nav-bar-nike-logo{
    margin-left:5px;
    padding-top: 15px;
    padding-right: 20px;
}
}

.side-bar li{
    list-style-type: none ;
    padding-top: 10px;
    
}
.side-bar a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 25px;
    
}
.side-bar svg{
    margin-left: 80%;
}
.side-bar svg:hover{
    background-color: lightgrey;
    border-radius: 50%;
}






/* responsive side bar */
@media (min-width:900px) {
    .hide-menu{
        display: none;
    }
}
@media (min-width: 900px) {
    .side-bar {
        display: none ;
    }
}
@media (max-width:1220px) {
    #hideOnMobileSale{
        display: none;
    }
}
@media (max-width:1200px) {
    #hideOnMobileAccessories{
        display: none;
    }
}
@media (max-width:1150px) {
    #hideOnMobilekids{
        display: none;
    }
}
@media (max-width:900px) {
    .hideOnMobile{
        display: none;
    }
}
@media (max-width:1100px) {
    #hideOnMobilewomen{
        display: none;
    }
}
@media (max-width:900px) {
    .right-nav-bar-icon-and-searchbar{
        display: none;
    }
}
@media (max-width:900px){
    .center-nav-bar{
        overflow: hidden;
    }
    .center-nav-bar {
        display: flex;
        padding-top: 10px;
        padding-left:20px ;
        align-items: center;
        gap: 10px;
        
    }
    .hide-menu:hover{
        background-color:lightgrey;
        border-radius: 50%;
    }
    .center-nav-bar a{ 
        padding: 2px;
        
    }
}



/* navigation bar amd second navigation bar padding on 1440px */
@media (max-width:1440px ){
    header,.second-nav-bar{
        padding: 0 2% 0 2%;
    }
}

/* navigation bar and second navigation bar padding on 1440px */
@media (min-width:1441px){
    header,.second-nav-bar{
        padding-left:12%;
        padding-right: 12%;
    }
}