

/* shoe container */

.shoe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
}

.shoe-card{
    padding: 10px;
    

}
